#welcomeid{
    text-align: center;
    color: #f7f7f7;
    background-color: #212e77;
    margin: 0 auto;
    padding: 1%;

}
#sectionform{
    font-weight: bold;
}
input{
border: 1px solid #5a729b;
margin-top:5px ;
}
fieldset{
    margin-top: 5px;
}